body {
    padding: 50px;
    font-size: 20px;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Grande", Lucida, Arial, sans;
}

h1 {
    font-size: 36px;
}

a {
    color: #000;
    text-decoration: none;
}

.loader {
    text-align: center;
    margin: auto;
    color: #666;
    padding-top: 200px;
}

#tools {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#bar {
    border: 1px solid;
    width: 700px;
    margin: 0 auto;
    background: #fff;
}

#structure {
    position: fixed;
    left: 0;
    top: 0;
    font-size: 0.8em;
    background: white;
    padding: 15px;
    display: none;
    z-index: 2;
    height: 100%;
    max-width: 250px;
}

#structure img {
    float: right;
    opacity: 0.3;
    padding: 0 0 10px 10px;
    cursor: pointer;
}

#structure img.selected, #stats img.selected {
    opacity: 1;
}

#structure .title {
    display: block;
    padding:0 0 10px 20px;
    font-size: 2em;
}

#structure img:hover, #stats img:hover {
    opacity: 0.8;
}

#headers > * {
    padding-bottom: 3px;
}

#headers *:hover {
    color: #aaa;
    cursor: pointer;
}

#structure .level1 {
    font-weight: bold;
    padding-top: 10px
}

#structure .level2 {
    padding-left: 0.5em;
    font-size: 0.8em;
}

#structure .level3 {
    padding-left: 1em;
    font-size: 0.75em;
}

#structure .level4 {
    padding-left: 1.5em;
    font-size: 0.7em;
}

#structure .level5 {
    padding-left: 2em;
    font-size: 0.65em;
}

#structure .level6 {
    padding-left: 2.5em;
    font-size: 0.6em;
}

#stats {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
    padding: 10px;
    display: none;
    z-index: 2;
    margin-top: 2000px;
    background: white;
    width: 160px
}

#stats img {
    float: left;
    opacity: 0.3;
    padding: 0 10px 10px 0;
    cursor: pointer;
}

#stats .title {
    display: block;
    float: left;
    padding: 0 50px 20px 0;
    font-size: 1.3em;
}

#stats > div {
    padding-bottom: 10px
}

#stats label {
    display: block;
    color: #bbb;
    font-size: 0.7em;
    letter-spacing: 1px;
}

#stats div > span {
    font-family: Consolas, "Courier New", Courier, sans-serif;
}

#main {
    margin: auto;
    width: 800px;
}

#editor {
    text-align: left;
    /* TODO make this half the page size if focus is enabled */
    padding: 500px 0;
    color: #ccc;
}

#editor:focus {
    outline: none;
}

#editor .focused {
    color: #333;
    opacity: 1;
}